@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;400;500;600;700&display=swap');

:root {
  --blanco: #ffffff;
  --gris1: #edf2f6;
  --gris2: #2f3848;
  --gris3: #1a202d;
  --negro: #000000;
  --headingFont: 'Comfortaa', sans-serif;
  --textFont: 'Roboto', sans-serif;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}
html {
  box-sizing: border-box;
  height: 100%;
}
body {
  min-height: 100%;
  background-color: var(--gris1);
  font-size: 12px;
  font-size: 1.6rem;
  font-family: var(--textFont);
  margin: 0;
}

h1,
h2 {
  font-family: var(--headingFont);
  font-weight: 900;
  margin: 0 0 1.5rem 0;
  text-align: center;
  color: var(--gris2);
}
h1 span {
  font-weight: 400;
}
h1 {
  font-size: 2.5rem;
}
h2 {
  font-size: 1.8rem;
}
ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
a {
  text-decoration: none;
  color: var(--gris2);
}
